@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
button,
input {
  font-family: "Josefin Sans", sans-serif;
}

body {
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 3.5px;
  height: 3.5px;
}

::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey;  */
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background: #b2beff5d; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6d6987; 
}
